$font-path: "../static/fonts/static"
$bg-color: hsl(57, 100%, 91%)
$text-color: hsl(360, 56%, 27%)
$hover-color: hsl(360, 10%, 70%)

// Use @font-face to define the Garamond font
@font-face
    font-family: 'Garamond'
    src: url("#{$font-path}/EBGaramond-Medium.ttf") format("truetype")
    font-weight: normal
    font-style: normal


@font-face
    font-family: 'Garamond'
    src: url("#{$font-path}/EBGaramond-Italic.ttf") format("truetype")
    font-style: italic 
    font-weight: normal

@font-face
    font-family: 'Garamond'
    src: url("#{$font-path}/EBGaramond-Bold.ttf") format("truetype")
    font-style: normal
    font-weight: bold 

@font-face
    font-family: 'Garamond'
    src: url("#{$font-path}/EBGaramond-BoldItalic.ttf") format("truetype")
    font-style: italic
    font-weight: bold 


html 
  background-color: $bg-color
  color: $text-color

body 
  font-family: 'Garamond', 'serif'

a
  color: $text-color
  transition: color 0.3s ease

a:hover
  color: $hover-color

hr 
  border-color: $text-color 

h1
  font-size: 2rem

nav
  ul 
    background-color: $text-color
    display: flex
    list-style-type: none
    justify-content: space-around
    margin: 0
    padding: 5px 0 5px 0

    a
      color: $bg-color
      text-decoration: none

