//$font-path: "../static/fonts";
$bg-color: hsl(57, 100%, 91%)
$text-color: blue

// Use @font-face to define the Garamond font
// @font-face {
//    font-family: 'Garamond';
//    src: url("#{$font-path}/eb_garamond.ttf") format("truetype");
//   font-weight: normal;
//    font-style: normal;
// }

// @font-face {
//    font-family: 'Garamond';
//    src: url("#{$font-path}/eb_garamond_italic.ttf") format("truetype"),
//   font-weight: italic;
//    font-style: normal;
// }

html 
  background-color: $bg-color
  color: $text-color


body 
  font-family: 'Garamond', 'serif'

