/* As elm-css doesn't have support for CSS Grid, these styles still 
   have to be written in CSS.
*/
@import "tailwindcss";

@font-face {
  font-family: "EBGaramond-Regular";  /* Name you assign to the font */
  src: url("./_resources/fonts/EBGaramond-Regular.ttf") format("ttf"),  /* Primary format */
  /* font-weight: normal;  /* Optional: e.g., normal, bold, 400 */ */
  /* font-style: normal;   /* Optional: e.g., normal, italic */ */
}


.unifrakturmaguntia-regular {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: EBGaramond-Regular;
}


a:hover {
  color: #f7dd5f;
  @apply transition-all;
}

h1 {
  @apply text-4xl;
}


h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

blockquote {
  @apply mx-[40px] py-[10px] px-[20px] border-l-[#eee] border-l-5 overflow-auto;
}
