/* As elm-css doesn't have support for CSS Grid, these styles still 
   have to be written in CSS.
*/
@import "tailwindcss";

@font-face {
  font-family: "EBGaramond-Regular";  /* Name you assign to the font */
  src: url("./_resources/fonts/EBGaramond-Regular.ttf") format("ttf"),  /* Primary format */
}


.unifrakturmaguntia-regular {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: EBGaramond-Regular;
}

a {
  @apply hover:text-[#f7dd5f] underline transition-all;
}


.markdown {
  @apply flex flex-col gap-4;
}

.markdown h1 {
  @apply text-4xl;
}


.markdown h2 {
  @apply text-2xl;
}

.markdown h3 {
  @apply text-xl;
}

.markdown blockquote {
  @apply py-[10px] px-[20px] border-l-[#eee] border-l-5 overflow-auto;
}


.markdown ul {
  @apply list-outside ml-4;
}

.markdown li {
  @apply list-disc;
}
