/* As elm-css doesn't have support for CSS Grid, these styles still 
   have to be written in CSS.
*/
@import "tailwindcss";

@font-face {
  font-family: "EBGaramond-Regular";
  src: url("./fonts/EBGaramond-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "UnifrakturMaguntia-Regular";
  src: url("./fonts/UnifrakturMaguntia-Regular.woff2") format("woff2");
  font-display: swap;
}

.unifrakturmaguntia-regular {
  font-family: UnifrakturMaguntia-Regular, cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: EBGaramond-Regular;
  /* Apply off-white and off-black text and background
   * respectively */
  @apply text-[#fffff8] bg-[#111] text-xl;

}

a {
  @apply hover:text-[#f7dd5f] underline transition-all;
}


.markdown {
  @apply flex flex-col gap-4;
}

.markdown h1 {
  @apply text-4xl;
}


.markdown h2 {
  @apply text-2xl;
}

.markdown h3 {
  @apply text-xl font-bold;
}

.markdown h4 {
  @apply text-lg font-bold;
}

.markdown blockquote {
  @apply py-[10px] px-[20px] border-l-[#eee] border-l-5 overflow-auto;
}

.markdown blockquote p + p {
  margin-top: 1em;
}


.markdown ul {
  @apply list-outside ml-4;
}

.markdown ol {
  @apply list-outside ml-4;
}

.markdown ul li {
  @apply list-disc;
}

.markdown ol li {
  @apply list-decimal;
}

.markdown li + li {
  margin-top: 0.5em;
}

.markdown pre {
  @apply overflow-x-scroll;
}

.markdown img {
  @apply mx-auto;
  max-width: 100%;
  max-height: 80vh;
  height: auto;
  width: auto;
  object-fit: contain;
  min-height: 100px;
  background: #222;
}
