<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Brandon Lucas</title>
</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title">Brandon Lucas</h1>
      <nav>
        <ul>
          <li>
            <a href="/articles">Articles</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/projects">Projects</a>
          </li>
          <li>
            <a href="/quotes">Quotes</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </nav>
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>
